@import '../../../scss/new-color-schema.scss';
.log-in-btn {
  padding: 15px;
  width: 190px;
  font-size: 16px;
  color: lightseagreen;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.download-report-btn {
  color: lightseagreen;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: -30px;
  right: 10px;
  cursor: pointer;
}
.generate-raport-btn-div {
  @media(min-width: 800px) {
    margin-left: auto;
  }
}
.generate-raport-btn {
  border: 1px solid transparent;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  min-width: 120px;
  padding: 16px;
  text-transform: capitalize;
  color: white;
  i {
    margin-right: 5px;
  }
}
.btn-green {
  background-color: #82b541;
}
.btn-green:hover {
  background-color: #93b652;
}
.generate-raport-btn:focus {
  outline: none;
}
.generate-raport-btn:disabled,
.generate-raport-btn:disabled:hover {
  background-color: grey;
  cursor: not-allowed;
  .small-spiner::before,
  .small-spiner::after {
    background-color: green;
  }
}
.btn-brown {
  background-color: #d22708;
}
.btn-brown:hover {
  background-color: #d33819;
}
.btn-grey{
  background: grey;
  &:hover{
  background: #999898;
  }
}

.add-client-button {
  background-color: #8c1b2f;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 0 30px;
  height: 5vh;
  line-height: 3vh;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  height: 38px;

  &:hover {
    background-color: #4c0f19;
  }

  @media screen and (max-width: 500px) {
    width: 90%;
    margin-bottom: 10px;
  }
}

.btn-brown:hover {
  background-color: #d33819;
}

.input-error {
  border: none;
  box-shadow: 0 2px 12px red !important;
}
.btn-transparent {
  position: absolute;
  top: 0px;
  left: 50px;
  height: 25px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}

.files-btn{
  position: absolute;
  top: -30px;
  min-width: 100px;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 18px;
  background: none;
  border: none;
  i{
    margin-right: 5px;
  }

}

$white: #fff;
$danger: #d22708;
$danger-hover: #d33819;
button:focus {
  outline: none;
}
.btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  i {
    margin-right: 7.5px;
  }
}
.medium-btn {
  padding: 10px;
  font-size: 12px;
  min-width: 100px;
  i {
    font-size: 14px;
  }
}
.xl-btn {
  font-size: 14px;
  min-width: 120px;
  padding: 15px;
  max-height: 120px;
}
.danger-btn {
  color: $white;
  background: #d22708;
  &:hover {
    background: #d33819;
  }
}
.ok-btn {
  background-color: #82b541;
  color: $white;
  &:hover {
    background-color: #93b652;
  }
}
button.dcmt-btn-light {
  background: $dcmt-light;
  color: $white;
}
.animated-icon-btn {
  @media(min-width: 764px) {
    i {
      transition: .8s;
      transform: rotate(0);
    }
    &:hover i {
      transform: rotate(-360deg);
    }
  }
}
.label-btn {
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  border: none;
  text-transform: uppercase;
  i {
    margin-right: 10px;
  }
}
.btn-submit-form {
  font-size: 18px;
  color: $dcmt;
  text-transform: uppercase;
  &:disabled {
    color: $font-grey;
  }
}
.dcmt-main-btn {
  padding: 10px;
  border: none;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  i {
    margin-right: 12px;
  }
}
.dcmt-light-btn {
  color: $white;
  background: $dcmt-light;
}
.dcmt-grey-btn {
  background: $modal-header-bg;
  color: $dark-font;
}
.dcmt-danger-btn {
  background: $input-error;
  color: $white;
}
.spinner-new {
  height: 10px; width: 10px;
}
.circle-button-35 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  border: none;
  flex-shrink: 0;
  align-self: center;
  position: relative;
  justify-content: center;
  i {
    font-size: 14px;
  }
  .fancy-modal-backdrop {
    border-radius: 50%;
  }
  &:disabled {
    background: $font-grey;
    color: $white;
  }
}
