@import '../../../../scss//new-color-schema.scss';
.project-skills-wrapper {
  position: relative;
  grid-area: skills;
  .empty-list-bg {
    p.important-par {
      padding: 15px 0 20px 0;
    }
  }
  &:not(.empty-list-bg) {
    .important-par {
      padding: 15px 0 20px 0;
    }
  }
  @media(max-width: 899px) {
    margin-bottom: 20px;
  }
  ul {
    overflow-y: auto;
    margin-bottom: 20px;
    height: 100%;
  }
  & > button.dcmt-light-btn {
    margin-top: auto;
    flex-shrink: 0;
    width: 100%;
  }
}
