@import '../../../../scss/new-color-schema.scss';
.project-data-wrapper {
  @media(min-width: 840px) {
    display: grid;
    grid-template-rows: 400px 1fr;
    grid-gap: 30px 45px;
    grid-template-columns: 300px 400px 1fr;
    grid-template-areas:
    "skills team rest"
    "phases phases phases";
    .project-team-wrapper {
      margin: 0;
    }
  }
  .project-team-wrapper {
    margin: 30px 0;
  }
}
