@import '../../../scss//new-color-schema.scss';
.project-details-wrapper {
  padding: 30px 30px 0 30px;
  box-sizing: border-box;
  min-height: 90vh;
  @media(min-width: 1300px) {
    display: flex;
    justify-content: space-between;
    .project-informations-wrapper {
      width: 30%;
      margin-right: 2%;
    }
  }
  .project-data-wrapper {
    @media(min-width: 900px) {
      display: grid;
      grid-gap: 30px;
      width: 65%;
      grid-template-rows: 400px 1fr;
      grid-template-columns: 400px 400px 1fr;
      grid-template-areas:
      "skills team rest"
      "phases phases phases";
    }
    @media(max-width: 899px) {
      div.project-skills-wrapper {
        margin: 15px 0 50px 0;
      }
      div.project-team-wrapper {
        margin-bottom: 30px;
      }
      div.phases-wrapper {
        margin: 15px 0 30px 0;
        .phases {
          margin: 0;
        }
      }
    }
  }
  @media(max-width: 600px) {
    padding: 30px 15px;
  }
}
.empty-list-bg {
  background: $modal-header-bg;
  border-radius: 10px;
  padding: 15px;
}
