@import '../../../scss//new-color-schema.scss';
.project-details-wrapper {
  box-sizing: border-box;
  min-height: 94vh;
  padding: 10px;
  @media(min-width: 1180px) {
    padding: 35px 30px 0 15px;
    display: flex;
    justify-content: space-between;
    .project-informations-wrapper {
      width: 30%;
      margin-right: 2%;
    }
  }
  .project-data-wrapper {
    margin: 30px 0;
    @media(min-width: 840px) {
      width: 65%;
      display: grid;
      grid-template-rows: 400px 1fr;
      grid-gap: 30px 45px;
      grid-template-columns: 300px 400px 1fr;
      grid-template-areas:
      "skills team rest"
      "phases phases phases";
      margin: 0;
    }
  }
}
.empty-list-bg {
  background: $modal-header-bg;
  border-radius: 10px;
}
.data-padding {
  padding: 15px 15px 20px 15px;
}
