.responsible-person-modal {
  width: 96%;
  form {
    padding: 15px;
    .label-btn {
      margin: 0 auto;
      display: block;
    }
  }
  @media(min-width: 550px) {
    width: 480px;
    form {
      padding: 20px;
    }
  }
}
