@import '../../../../scss//new-color-schema.scss';
.phases-wrapper {
  grid-area: phases;
  color: $font-grey;
  @media(max-width: 1179px) {
    margin-top: 30px;
  }
  p.important-par {
    padding-bottom: 25px;
    color: inherit;
  }
  .phase-focused {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 0; left: 0; width: 100%; height: 4px;
      background: $dcmt-gradient;
    }
  }
  .phases {
    padding-bottom: 20px;
    box-sizing: border-box;
    .phase {
      flex-shrink: 0;
      width: 300px;
      box-sizing: border-box;
      height: 250px;
      background: $modal-header-bg;
      margin-right: 20px;
      padding: 15px;
      .phase-name {
        font-size: 16px;
        margin-bottom: 15px;
      }
      .phase-description {
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 15px;
      }
      .phase-details {
        flex-flow: wrap;
        .detail-label {
          margin: 0 15px 15px 0;
        }
      }
    }
  }
}
