div.share-project-form {
  min-width: 500px;
  & > div {
    margin-top: 15px;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
  }
  .label-btn {
    align-self: flex-end;
  }
  @media(max-width: 550px) {
    width: 92%;
    min-width: unset;
    & > div {
      padding: 15px;
    }
  }
}
