@import '../../../../scss//new-color-schema.scss';
.project-wrapper-left {
  width: 35%;
  .project-name {
    font-size: 24px;
    color: $font-grey;
    .project-name-label {
      color: $dcmt-light;
      font-size: 16px;
      margin-bottom: 7.5px;
    }
  }
  .project-description {
    font-size: 18px;
    font-weight: 300;
    color: $font-grey;
    padding: 30px 0;
  }
  .project-details {
    display: flex;
    flex-flow: wrap;
    .detail-label {
      margin: 0 30px 30px 0;
    }
  }
  .project-operations {
    display: flex;
    flex-flow: wrap;
    button {
      margin: 0 15px 30px 0;
    }
  }
  .project-operations:last-of-type {
    margin-top: auto;
    button {
      margin-bottom: 0;
    }
  }
  .project-owners {
    margin-top: 30px;
    .owner {
      margin: 0 15px 30px 0;
      display: flex;
      align-items: center;
      .user-avatar-medium {
        margin-right: 15px;
      }
    }
  }
}
