$error: #cb3232;
$ok: #1c7744;
$warn: #FFDC68;
$white: #fff;
$font-grey: #2b2b2b;
.alerts {
  position: fixed;
  bottom: 1em;
  left: 1em;
  z-index: 1300;
  @keyframes animate-in{
    0% {
      transform: translateY(-15px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .alert-in {
    animation: .4s animate-in;
  }
  .alert-item {
    background: $white;
    border-radius: 4px;
    width: 320px;
    line-height: 22.5px;
    margin-top: 15px;
    div:first-of-type {
      display: flex;
      align-items: center;
      padding: 7.5px;
      .fa-times {
        margin-left: auto;
        cursor: pointer;
      }
      span {
        margin-left: 7.5px;
      }
    }
    article {
      padding: 7.5px;
      color: $font-grey;
    }
  }
}
.ok {
  div:first-of-type {
    color: $white;
    background: $ok;
  }
}
.warn {
  div:first-of-type {
    color: $font-grey;
    background: $warn;
  }
}
.err {
  div:first-of-type {
    color: $white;
    background: $error;
  }
}

