div.share-project-form {
  width: 400px;
  & > div {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-gap: 20px;
    padding-bottom: 20px;
  }
  .searcher-wrapper, .important-par, .employees {
    margin: 0 20px;
  }
  .label-btn {
    align-self: flex-end;
    margin-top: 15px;
  }
  @media(max-width: 550px) {
    width: 92%;
    & > div {
      padding-bottom: 15px;
    }
    .searcher-wrapper, .important-par, .employees {
      margin: 0 15px;
    }
  }
}
