@import "3rd/Reset.scss";
@import "ColorSchema.scss";
@import "./components/common/Input";
@import "./components/common/ContentContainer";
@import "./components/common/ContentContainer";
@import "./components/table/SmoothTable";
@import "./components/common/Logo";
@import "./components/common/Flags";
@import "./components/common/modals/ResultModal";
@import "./components/projects/Owner";
@import "./components/stats/StatsContainer";
@import './new-color-schema.scss';
@import "./components/common/Button";
@import './fancy-form-motive.scss';
@import './position-styles.scss';
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: $white;
}
button, input, textarea {
  font-family: inherit;
}
.clickable {
  cursor: pointer
}
.block-header{
    font-size: 24px;
    padding: 10px 0 15px 0;
    margin: 15px 0;
    i{
        margin-right: 10px;
    }
    span:last-of-type{
        margin-left: 7.5px;
        color: #8E8E8E;
        font-size: 16px;
        b{
            text-transform: uppercase;
        }
    }
}
input[type="checkbox"] {
  margin: 0 5px;
}
@media screen and (max-width: 500px) {
  input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    visibility: hidden;

    &:before {
      visibility: visible;
      position: absolute;
      display: block;
      width: 100%;
      height: 20px;
      top: 0;
      background: #dc3545;
      content: "";
      border-radius: 10px;
      border: solid 1px #ddd;
      transition: all 0.5s;
    }

    &:after {
      visibility: visible;
      top: 0;
      display: block;
      content: "";
      width: 20px;
      height: 20px;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      border-radius: 50%;
      border: solid 1px #212529;
      transition: all 0.5s;
      left: 0;
    }

    &:checked:after {
      left: 100%;
      margin-left: -20px;
    }

    &:checked:before {
      background: #2ecc71;
    }

    &.square {
      width: 60px;
      &:before {
        border-radius: 2px;
      }
      &:after {
        border-radius: 2px;
        width: 30px;
      }
      &:checked:after {
        left: 100%;
        margin-left: -30px;
      }
      &:checked:before {
        background: #3498db;
      }
    }
  }
}

a,
a:visited {
  text-decoration: none;
  color: darken(rgb(103, 163, 181), 18%);
}

.underline-anchors {
  a,
  a:visited {
    border-bottom: 1px dashed darken($main-color, 5%);
    color: darken(white, 3%);
  }
  a:hover {
    text-decoration: none;
    border-bottom: 1px dashed lighten($main-color, 5%);
    cursor: pointer;
  }
}

.content-abs-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;
  padding: 8px 16px 8px 8px;
  color: darken($body-background, 0.1%);
}
.intermediate-block {
  margin-top: 3vh;
  @media screen and (max-width: 500px) {
    margin-top: 0;
  }
}
@media screen and (max-width: 500px) {
  .content-abs-footer {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    padding: 0;
    position: relative;
  }
}

.user-role-symbol {
  display: inline-block;
  width: 14px;
  margin: 0 5px;
  &.Developer {
    color: gray;
  }
  &.Tradesman {
    color: rgb(98, 176, 132);
  }
  &.Human {
    color: rgb(46, 125, 168) (98, 176, 132);
  }
  &.Team {
    color: rgb(108, 178, 61);
  }
  &.Administrator {
    color: rgb(150, 52, 52);
  }
  &.Manager {
    color: rgb(166, 50, 147);
  }
}
.result-block {
  width: 100%;
  text-align: center;
  padding: 20px 0;

  img {
    width: 100%;
  }
}

.result-block-modal-in-parent {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 20px;
  h1 {
    padding: 0px;
  }
}

.result-error,
.modal-result-error {
  b {
    font-weight: bolder !important;
    color: black;
  }
  strong {
    font-weight: bolder !important;
  }
}

.result-error {
  color: $button-element-background;
}

.modal-result-error {
  background: $button-element-background;
  h1 {
    color: white;
  }

  p {
    padding: 10px;
  }
}

.result-success {
  color: darkgreen;
}

.modal-result-success {
  background: greenyellow;
}

.Modal {
  height: 450px;
  width: 600px;
  background-color: #eee;
  box-shadow: 5px 10px 10px #888888;

  svg {
    z-index: 2;
  }

  header {
    height: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    padding-left: 5px;
    h3 {
      line-height: 30px;
      font-size: 1.1em;
      color: gray;
      font-variant: small-caps;
      letter-spacing: 0.7px;
    }

    .close-button {
      margin-left: 83%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.Modal-users {
  // height: 400px;

  @media screen and (max-width: 500px) {
    height: 600px;
  }
}

.Modal-projects {
  height: 510px;
  @media (max-width: 575px) {
    height: 900px;
  }
}

.api-error-message {
  color: red;
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.Modal-add-project {
  height: 550px;
}

.spinner-new {
  position: absolute;
  border-radius: 50%;
  border: 2px solid $dcmt;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: .5s animate-spinner ease-in infinite;
  z-index: 1220;
  @keyframes animate-spinner {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
  }
}
.field-spinner {
  top: 8px; right: 8px;
}
.form-down-right-spinner {
  right: 10px; bottom: 10px;
}
.spinner-new-small {
  width: 20px; height: 20px;
}
.spinner-new-medium {
  width: 30px; height: 30px;
}
.spinner-new-big {
  width: 45px; height: 45px;
}
.spinner-new-center {
  top: 0; right: 0; left: 0; bottom: 0; margin: auto;
}
.react-datepicker-wrapper, .react-datepicker__input-container{
  width: 100%;
}
@keyframes animate-left-in-content {
  0% {
    opacity: 0;
    transform: translateX(-25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.dcmt-light-color {
  color: $dcmt-light;
}
.dcmt-color {
  color: $dcmt;
}
.detail-label {
  display: flex;
  flex-flow: column;
  span:first-of-type {
    margin-bottom: 5px;
    font-size: 14px;
  }
  span:last-of-type {
    color: $font-grey;
    font-size: 16px;
  }
}
.important-par {
  color: $dark-font;
  font-size: 18px;
}
.user-avatar-medium {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  img {
    border-radius: 50px;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}
.box-circle {
  box-shadow: $shadow;
  border-radius: 10px;
  background: $white;
  color: $dark-font;
}
