@import "3rd/Reset.scss";
@import "ColorSchema.scss";
@import "./components/common/Button";
@import "./components/common/Input";
@import "./components/common/ContentContainer";
@import "./components/common/ContentContainer";
@import "./components/table/SmoothTable";
@import "./components/common/Logo";
@import "./components/common/Flags";
@import "./components/common/modals/ResultModal";
@import "./components/projects/Skill";
@import "./components/projects/Owner";
@import "./components/stats/StatsContainer";
@import './new-color-schema.scss';
body {
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  background: $content-background;
}
.clickable {
  cursor: pointer
}
.block-header{
    font-size: 24px;
    padding: 10px 0 15px 0;
    margin: 15px 0;
    i{
        margin-right: 10px;
    }
    span:last-of-type{
        margin-left: 7.5px;
        color: #8E8E8E;
        font-size: 16px;
        b{
            text-transform: uppercase;
        }
    }
}
input[type="checkbox"] {
  margin: 0 5px;
}
@media screen and (max-width: 500px) {
  input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    visibility: hidden;

    &:before {
      visibility: visible;
      position: absolute;
      display: block;
      width: 100%;
      height: 20px;
      top: 0;
      background: #dc3545;
      content: "";
      border-radius: 10px;
      border: solid 1px #ddd;
      transition: all 0.5s;
    }

    &:after {
      visibility: visible;
      top: 0;
      display: block;
      content: "";
      width: 20px;
      height: 20px;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      border-radius: 50%;
      border: solid 1px #212529;
      transition: all 0.5s;
      left: 0;
    }

    &:checked:after {
      left: 100%;
      margin-left: -20px;
    }

    &:checked:before {
      background: #2ecc71;
    }

    &.square {
      width: 60px;
      &:before {
        border-radius: 2px;
      }
      &:after {
        border-radius: 2px;
        width: 30px;
      }
      &:checked:after {
        left: 100%;
        margin-left: -30px;
      }
      &:checked:before {
        background: #3498db;
      }
    }
  }
}

::selection {
  background: #ffb97c; /* WebKit/Blink Browsers */
}

.button-group {
  button {
    margin-right: 15px;
  }
}

path.c3-shape {
  cursor: default !important;
}

.text-just {
  display: block;
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 900;
}

a,
a:visited {
  text-decoration: none;
  color: darken(rgb(103, 163, 181), 18%);
}

.underline-anchors {
  a,
  a:visited {
    border-bottom: 1px dashed darken($main-color, 5%);
    color: darken(white, 3%);
  }
  a:hover {
    text-decoration: none;
    border-bottom: 1px dashed lighten($main-color, 5%);
    cursor: pointer;
  }
}

.content-abs-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;
  padding: 8px 16px 8px 8px;
  color: darken($body-background, 0.1%);
}
.intermediate-block {
  margin-top: 3vh;
  @media screen and (max-width: 500px) {
    margin-top: 0;
  }
}
@media screen and (max-width: 500px) {
  .content-abs-footer {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    padding: 0;
    position: relative;
  }
}

.user-role-symbol {
  display: inline-block;
  width: 14px;
  margin: 0 5px;
  &.Developer {
    color: gray;
  }
  &.Tradesman {
    color: rgb(98, 176, 132);
  }
  &.Human {
    color: rgb(46, 125, 168) (98, 176, 132);
  }
  &.Team {
    color: rgb(108, 178, 61);
  }
  &.Administrator {
    color: rgb(150, 52, 52);
  }
  &.Manager {
    color: rgb(166, 50, 147);
  }
}

.internum {
  padding: 25px;
}

.scroll-container {
  height: 73.3vh;
  overflow-y: auto;
}

.result-block {
  width: 100%;
  text-align: center;
  padding: 20px 0;

  img {
    width: 100%;
  }
}

.result-block-modal-in-parent {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 20px;
  h1 {
    padding: 0px;
  }
}

.result-error,
.modal-result-error {
  b {
    font-weight: bolder !important;
    color: black;
  }
  strong {
    font-weight: bolder !important;
  }
}

.result-error {
  color: $button-element-background;
}

.modal-result-error {
  background: $button-element-background;
  h1 {
    color: white;
  }

  p {
    padding: 10px;
  }
}

.result-success {
  color: darkgreen;
}

.modal-result-success {
  background: greenyellow;
}

.Modal {
  height: 450px;
  width: 600px;
  background-color: #eee;
  box-shadow: 5px 10px 10px #888888;

  svg {
    z-index: 2;
  }

  header {
    height: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    padding-left: 5px;
    h3 {
      line-height: 30px;
      font-size: 1.1em;
      color: gray;
      font-variant: small-caps;
      letter-spacing: 0.7px;
    }

    .close-button {
      margin-left: 83%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.Modal-users {
  // height: 400px;

  @media screen and (max-width: 500px) {
    height: 600px;
  }
}

.Modal-projects {
  height: 510px;
  @media (max-width: 575px) {
    height: 900px;
  }
}

.Modal-assignment {
  height: auto;
}

.full-screen-loader {
  position: relative;
}

.api-error-message {
  color: red;
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.Modal-add-project {
  height: 550px;
}

.react-datepicker-popper {
  z-index: 200;
}

.input-data-list, .empty-data-list {
  position: absolute;
  width: 100%;
  box-shadow: $shadow;
  background: $white;
  top: 38px;
  right: 0;
  z-index: 10;
}
.input-data-list {
  max-height: 350px;
  li {
    padding: 10px;
    &:not(:last-of-type) {
      cursor: pointer;
      &:hover {
        background: $hover;
      }
    }
  }
  .list-footer {
    button {
      display: block;
      margin-left: auto;
    }
  }
}
.empty-data-list {
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $font-grey;
}
.spinner-new {
  position: absolute;
  border-radius: 50%;
  border: 2px solid $dcmt;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: .5s animate-spinner ease-in infinite;
  @keyframes animate-spinner {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
  }
}

.field {
  border: 1px solid $input-border;
  border-radius: 4px;
  padding: 10px;
  &:focus {
    outline: none;
  }
}
.field-label {
  color: $dcmt;
}
.fields-wrapper-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.fields-wrapper-col {
  display: flex;
  flex-flow: column;
  label {
    margin-bottom: 10px;
  }
}
.field-error {
  font-size: 14px;
  margin: 0;
  box-sizing: border-box;
  height: 35px;
  display: flex;
  padding: 2px 0 0 5px;
  flex-flow: column;
  justify-content: center;
  color: $input-error;
}
.label-submit {
  font-size: 20px;
  color: $dcmt;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  font-family: inherit;
  margin: 30px auto 0 auto;
  display: block;
  &:focus {
    outline: none;
  }
}
.field-block {
  border: 1px solid $input-border;
  border-radius: 4px;
  height: 38px;
  background: $white;
  display: flex;
  align-items: center;
  position: relative;
  input {
    border: none;
    background: none;
    padding-left: 10px;
    font-family: inherit;
    width: 85%;
    &:focus {
      outline: none;
    }
  }
  .field-icon {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    i {
      color: $font-grey;
    }
  }
}
