.form {
  padding: 30px;
}
.input-data-list, .empty-data-list {
  position: absolute;
  width: 100%;
  box-shadow: $shadow;
  background: $white;
  top: 38px;
  right: 0;
  z-index: 10;
  font-size: 14px;
}
.input-data-list {
  ul {
    max-height: 350px;
    overflow-y: auto;
    li {
      padding: 10px;
      cursor: pointer;
      &:hover {
        background: $hover;
      }
    }
  }
  .list-footer {
    button {
      display: block;
      margin-left: auto;
      padding: 10px;
    }
  }
}
.empty-data-list {
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $font-grey;
  line-height: 24.5px;
}
.field-error {
  font-size: 14px;
  padding: 10px 0;
  box-sizing: border-box;
  height: 40px;
  color: $input-error;
}
div.circle-searcher {
  border-radius: 50px;
  input, select {
    padding-left: 15px;
    height: 100%;
  }
  div.spinner-new {
    border: 2px solid $white;
    border-top-color: transparent;
    border-right-color: transparent;
    margin: 1px 1px 0 0;
  }
  .field-icon {
    border-radius: 50%;
    background-color: $dcmt-light;
    right: -1px; top: -1px; width: 39px; height: 39px;
    i {
      color: $white;
    }
  }
}
.field-block {
  border: 1px solid $input-border;
  border-radius: 4px;
  height: 38px;
  background: $white;
  display: flex;
  align-items: center;
  position: relative;
  select, input, textarea {
    font-size: 16px;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  input, select {
    border: none;
    background: none;
    padding-left: 10px;
    width: 85%;
    &:focus {
      outline: none;
    }
  }
  .field-icon {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    color: $font-grey;
  }
  .field-toolbox {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: space-around;
    background: $white;
    padding: 1px;
    i {
      font-size: 20px;
      color: $font-grey;
    }
  }
}
.data-list-container{
  width: 100%;
}
.field-error-color {
  color: $input-error;
}
.field {
  border: 1px solid $input-border;
  border-radius: 4px;
  padding: 8.5px;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
select.field, input.field, textarea.field {
  font-size: 16px;
}
.field-label {
  color: $dcmt;
  font-size: 14px;
}
.fields-wrapper-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.fields-wrapper-col {
  display: flex;
  flex-flow: column;
  label {
    margin-bottom: 10px;
  }
}
