$dcmt: #006064;
$dcmt-light: #559FA2;
$white: #fff;
$dark-font: #202020;
$font-grey: #707070;
$shadow: 0 6px 24px rgba(0,0,0,.14);
$input-border: #D3D3D3;
$hover: #f7f7f7db;
$input-error: #CF3737;
$backdrop: rgba(0,0,0,.48);
$modal-header-bg: #F8F8F8;
$white-backdrop: rgba(244, 244, 244, 0.83);
$scroll-track: #E8E8E8;
$light-orange: #F39761;
