.add-client-container {
  height: 100%;
  position: relative;

  .notDisplayed {
    display: none;
  }

  .new-input-content {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .modal-content {
    padding-top: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
  }

  .new-section-input {
    margin-bottom: 5px;
    position: relative;
    label {
      margin: 3px 0;
      width: 32%;
      font-size: 14px;
      text-align: center;
    }
    input {
      width: 68%;
      font-size: 12px;
      border-radius: 4px;
      outline: none;
      transition: 0.5s all ease-in-out;
      border: 1px solid #20b2a9 !important;
      height: calc(1.3525rem + 2px) !important;
      padding: 12.5px !important;
    }
    .fa-minus {
      position: absolute;
      right: 10px;
      color: rgb(179, 36, 36);
      margin-top: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .add-client-container-left,
  .add-client-container-right {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    .add-client-container-right-image-holder {
      display: flex;
      align-items: center;
      height: 220px;
      justify-content: center;
      img {
        height: auto;
        width: auto;
        display: block;
        max-width: 220px;
        max-height: 180px;
      }
    }
  }

  form {
    height: 90%;
    width: 100%;
  }

  .add-client-container-left {
    div[contenteditable] {
      border: 1px solid black;
      max-height: 200px;
      overflow: auto;
    }

    .intermediate-block {
      margin-top: 12vh;
    }

    .group {
      width: 100%;
      height: 70%;
      padding-top: 20px;
      margin-bottom: 15px;

      input, textarea{
        width: 100%;
        font-size: 12px;
        border-radius: 4px;
        outline: none;
        transition: 0.5s all ease-in-out;
        border: 1px solid #20B2A9;
      }

      textarea{
        resize: vertical;
        max-height: 120px;
      }

      .add-client-input-error {
        color: red;
        border: red 1px solid;
        -webkit-box-shadow: -1px 1px 24px -2px rgb(203, 50, 50);
        -moz-box-shadow: -1px 1px 24px -2px rgb(203, 50, 50);
        box-shadow: -1px 1px 24px -2px rgb(203, 50, 50);
      }

      input:focus, textarea:focus{
        -webkit-box-shadow: -1px 1px 24px -2px rgb(71, 138, 160);
        -moz-box-shadow: -1px 1px 24px -2px rgb(112, 202, 233);
        box-shadow: -1px 1px 24px -2px rgb(112, 202, 233);
      }

      span {
        color: red;
        font-size: smaller;
        display: inline-block;
        height: 10px;
      }

      label {
        font-size: x-large;
        color: #6c757d;
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
      }
      input[type="text"],
      input[type="date"],
      input[type="datetime"],
      input[type="email"],
      input[type="number"],
      input[type="search"],
      input[type="time"],
      input[type="url"],
      textarea,
      select {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        outline: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        background: #fff;
        padding: 3%;
        color: #555;
        font: 95% Arial, Helvetica, sans-serif;
      }
      input[type="text"]:focus,
      input[type="date"]:focus,
      input[type="datetime"]:focus,
      input[type="email"]:focus,
      input[type="number"]:focus,
      input[type="search"]:focus,
      input[type="time"]:focus,
      input[type="url"]:focus,
      textarea:focus,
      select:focus {
        padding: 3%;
      }
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
  .add-client-container-right {
    display: flex;
    align-items: center;
    height: 80%;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  .user-added-success {
    color: white;
    background: rgba(0, 125, 44, 0.87);
    display: inline-block;
    width: 107%;
    text-align: center;
    padding: 20px;
    position: absolute;
    left: -20px;
    bottom: -20px;
  }

  .error-validation-enter {
    opacity: 0.01;
  }

  .error-validation-enter.error-validation-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }

  .error-validation-leave {
    opacity: 1;
  }

  .error-validation-leave.error-validation-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .example-appear {
    opacity: 0.01;
    bottom: -75px;
  }

  .example-appear.example-appear-active {
    opacity: 1;
    bottom: -20px;
    transition: all 1s ease-in;
  }

  .message-enter {
    opacity: 0.01;
    transform: scale(0.9) translateY(50%);
  }
  .message-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0%);
    transition: all 300ms ease-out;
  }
  .message-exit {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
  .message-exit-active {
    opacity: 0.01;
    transform: scale(0.9) translateY(50%);
    transition: all 300ms ease-out;
  }
}
